<%- include('partials/header') -%>
    <main>
        <h1 class="title">
            <%= listTitle %>
        </h1>
        <div class="list-container">
            <ul>
                <% for (let item of list) { %>
                    <form action=<%=listTitle=="Work List" ? "/work?_method=DELETE" : "/?_method=DELETE" %>
                        method="POST">
                        <div class="item-box">
                            <input type="checkbox" class="checkbox" name="checkbox" value="<%=item._id%>"
                                onChange="this.form.submit()">
                            <li class="items">
                                <%= item.name %>
                            </li>
                        </div>
                    </form>
                    <% } %>
            </ul>
            <form action=<%=listTitle=="Work List" ? "/work" : "/" %> method="POST" class="new-form">
                <input class="todoInput" type="text" name="items[name]" placeholder="New To Do">
                <button class="submit-button">+</button>
            </form>
            <a class="switch" href=<%=listTitle=="Work List" ? "/" : "/work" %>>Switch to <%=listTitle=="Work List"
                    ? "To Do List" : "Work List" %></a>
        </div>
    </main>
    <%- include('partials/footer') -%>